@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body{
    font-family: 'Jost', sans-serif;
}


.gradientBg{
  background: linear-gradient(171.61deg, #EE9AE5 0.53%, #5961F9 38.96%);
}
.gradientBg2{
    background: linear-gradient(90deg, #EE9AE5 0%, #5961F9 102.13%);

}

.btnPrimary{
    @apply py-3 px-8 bg-primary font-semibold text-white rounded transition-all duration-300;
}

.menu{
    @apply flex items-center hover:translate-x-3 transition-all duration-300 font-semibold text-[14px];
}

.skills{
    @apply bg-secondary text-center xl:w-[90px] flex items-center justify-center xl:text-[13px] sm:text-[12px] text-[11px] font-semibold text-primary xl:px-2 px-3 py-1 md:rounded-[50px] rounded-[20px];
}

.about{
    @apply text-[18px] font-bold
}